
 {
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": false
}
